@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;700&display=swap');


.App {
  color: white;
  font-family: 'Quicksand', 'Trebuchet MS', sans-serif;
  margin: 0 auto;
  padding: 50px 100px;
  width: max-content;
}

.container {
  padding: 20px !important;
  border: gray 1px solid;
  border-radius: 8px;
}

.footer-container {
  border: none !important;
  color: bisque;
  text-align: center;
}

a {
  color: darksalmon !important;
}