@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;700&display=swap');


.cityName {
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Quicksand', 'Trebuchet MS', sans-serif;
}

form {
    border: none !important;
    background-color: rgba(14, 14, 14, 0.3) !important;
    height: max-content;
    margin: 10px 0px 40px;
    text-align: left;
}

input[type="search"] {
    margin-bottom: 15px;
    width: 280px;
}

.btn {
    margin: -5px 10px;
}

ul {
    list-style: none;
}

li.fiveDay {
    display: inline;
    text-align: left;
    margin-right: 20px;
    padding-right: 30px;
}